.h1{
    color: white;
    font-size: 126px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    /* font-family: 'Geoform', sans-serif; */
}

.statistics_container{
    margin-top: 96px;
    margin-bottom: 61px;

    display: flex;
    justify-content: space-between;
}

.h2{
    color: #F25C3A;
    font-size: 50px;
    font-weight: 900;
    /* font-family: 'Geoform', sans-serif; */
    margin: 0px 0px;
}

.p{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    /* font-family: 'Geoform', sans-serif; */
}

.statistics{
    border: 2px solid rgba(146, 115, 152, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px 130px */
    width: 570px;
    height: 167px;
    justify-content: center;
}

.img{
    display: flex;
    justify-content: center;
}

@media(max-width: 900px){
    .h1{
        font-size: 86px;
    }

    .statistics{
        width: 419px;
        height: 140px;
    }

    .statistics_container{
        margin-top: 103px;
        margin-bottom: 30px;
    }

    .h2{
        font-size: 52px;
    }
    
    .p{
        font-size: 18px;
    }

}

@media(max-width: 600px){
    .h1{
        font-size: 64px;
    }

    .h2{
        font-size: 39px;
    }
    .p{
        font-size: 14px;
    }

    .statistics{
        width: 271px;
        height: 119px;
    }

    .statistics_container{
        margin-top: 108px;
    }
}
@media(max-width: 320px){
    .h1{
        font-size: 36px;
    }

    .h2{
        margin-top: 5px;
    }

    .p{
        padding-bottom: 17px;
    }

    .statistics_container{
        margin-top: 73px;
        margin-bottom: 29px;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .statistics{
        width: 100%;
        height: 95px;
    }
}