.h1{
    color: white;
    font-size: 126px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    /* font-family: 'Geoform', sans-serif; */
}

.statistics_container{
    margin-top: 96px;
    margin-bottom: 61px;

    display: flex;
    justify-content: space-between;
}

.h2{
    color: #F25C3A;
    font-size: 50px;
    font-weight: 900;
    /* font-family: 'Geoform', sans-serif; */
}

.p{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    /* font-family: 'Geoform', sans-serif; */
}

.statistics{
    border: 2px solid rgba(146, 115, 152, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px 130px */
    width: 570px;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    justify-content: center;
}

@media(max-width: 900px){
    .h1{
        font-size: 86px;
    }

    .statistics{
        width: 419px;
        height: 140px;
    }

    .h2{
        font-size: 52px;
    }
    
    .p{
        font-size: 18px;
    }

}