.footer{
    background-color: rgba(59, 35, 65, 1);
}

.container{
    margin: 0 auto;
    max-width: 1170px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(146, 115, 152, 1);
}

.networkPhone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone{
    display: flex;
    gap: 20px;
}

.phone a{
    font-size: 18px;
    font-weight: 500;
    color: rgba(146, 115, 152, 1);
}