.container {
    margin-top: 120px;
    margin-bottom: 120px;
}

.h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}

.p {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    margin-bottom: 29px;
}

.mensEmails {
    display: flex;
    gap: 31px;
    align-items: start;
}

@media(max-width: 900px) {
    .container {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .h1 {
        font-size: 34px;
        margin-bottom: 23px;
    }

    .p {
        margin-bottom: 22px;
    }

    .mensEmails{
        display: flex;
        flex-direction: column;
        gap: 39px;
    }

    .mens{
        order: 2;
    }

    .emails{
        order: 1;
    }

}
@media(max-width: 600px) {

    .h1 {
        font-size: 30px;
        margin-bottom: 27px;
    }

    .p {
        margin-bottom: 30px;
        font-size: 18px;
    }

    .mensEmails{
        gap: 46px;
    }

}
@media(max-width: 320px) {

    .h1 {
        font-size: 26px;
    }

    .p {
        font-size: 14px;
    }

    .mensEmails{
        gap: 30px;
    }

}