.container {
    margin-top: 120px;
    margin-bottom: 120px;
}

.h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}

.p {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    margin-bottom: 29px;
}

.mensEmails {
    display: flex;
    gap: 31px;
    align-items: start;
}

@media(max-width: 900px) {
    .container {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .h1 {
        font-size: 34px;
        margin-bottom: 23px;
    }

    .p {
        margin-bottom: 26px;
    }

}