.all{
    margin-top: 121px;
}

.container{
    display: flex;
    gap: 35px;

    margin-top: 50px;
}

.textContainer{
    max-width: 571px;
}

.text{
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    margin-bottom: 25px;
}

.text p{

    color: white;

    font-size: 16px;
    font-weight: 400;

}

.h2{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

/* .btn{
    color: white;
    font-size: 16px;
    font-weight: 500;

    background-color: #F25C3A;
    padding: 10px 20px;

    margin-top: 19px;
    text-transform: uppercase;
} */

.yearsBlock{
    width: 100%;
}

@media(max-width: 900px){
    .all{
        margin-top: 80px;
    }

    .h2{
        font-size: 34px;
    }

    .textContainer{
        max-width: 379px;
    }


}