.navLink {
    color: #927398;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    transition: all 0.3s ease; 
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 50px;
}

.navLink:hover {
    color: white;
}

.navLink.active {
    color: white;
}

.navLink.active::after {
    content: '';
    position: absolute;
    bottom: -46.5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F25C3A;
    transition: transform 0.3s ease;
    transform-origin: left center;
}


@media(max-width: 900px){
    .nav{
        gap: 29px;
    }

    .navLink.active::after {
        bottom: -28.5px;
    }

}
@media(max-width: 320px){
    .nav{
        flex-direction: column;
        gap: 29px;
    }

    .navLink.active::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 22px;
        background-color: #F25C3A;
        bottom: auto;
        right: auto;
    }

    .navLink {
        font-size: 15px;
        padding-left: 10px;
    }

}
