.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item{
    display: flex;
    align-items: start;
    text-align: start;
    gap: 13px;
}

.emailContainer{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: left;

}

.email{
    font-size: 16px;
    font-weight: 400;
    color: white;

    border-bottom: 1px dashed   rgba(255, 255, 255, 0.3); 
}

.text{
    font-size: 14px;
    font-weight: 400;
    color: rgba(146, 115, 152, 1);
    margin-top: 14px;
}

.img{
    margin-top: 4px;
}

@media(max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media(max-width: 320px){
    .container{
        grid-template-columns: 1fr;
    }

    .img{
        margin-top: 10px;
    }

    .email{
        font-size: 13px;
    }
    .text{
        font-size: 11px;
        margin-top: 4px;
    }
}