.p{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.srvicesContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 27px;
}

.servicesItem{
    border: 2px solid rgba(80, 54, 85, 1);
    width: 370px;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    gap: 16px;
}

.servicesItem p{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.btnContaine{
     margin-top: 40px;
}

@media(max-width: 900px){
    
    .srvicesContainer{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 22px;
    }

    .servicesItem{
        width: 273px;
    }

    .servicesItem p {
        font-size: 16px;
    }

    .btnContaine{
        display: none;
    }

}