.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    margin-bottom: 29px;
}