.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    margin-bottom: 29px;
}

.servicesAndVideo{
    margin-top: 40px;

    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
}


.videoContainer {
    position: relative;
    width: 100%;
    /* max-width: 770px; */
    margin: 0 auto;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}

.videoDarken {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.youtubeIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.youtubeIcon:hover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}

.video::-webkit-media-controls {
    opacity: 0.5;
}
.moreBtnMini{
    display: none;
}

@media(max-width: 900px){
    .section{
        margin-top: 80px;
    }

    .h1{
        font-size: 34px;
        margin-bottom: 23px;
    }

    .p{
        margin-bottom: 20px;
    }

    .servicesAndVideo{
        flex-wrap: wrap;
    }

}
@media(max-width: 600px){

    .h1{
        font-size: 30px;
    }

}
@media(max-width: 320px){

    .h1{
        font-size: 26px;
        margin-bottom: 30px;
    }

    .p{
        font-size: 13px;
        margin-bottom: 15px;
    }

    .servicesAndVideo{
        margin-top: 30px;
    }

    .moreBtnMini{
        display: flex;
        justify-content: center;
        width: 100%;
    }

}