.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.pBottom{
    font-size: 22px;
    font-weight: 700;
    color: #927398;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media(max-width: 900px){
    .section{
        margin-top: 80px;
    }

    .h1{
        font-size: 34px;
    }

}
@media(max-width: 600px){
    .h1{
        font-size: 30px;
    }

    .pBottom{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    .h1{
        font-size: 26px;
    }

    .pBottom{
        font-size: 14px;
        margin-top: 30px;
        text-align: center;
    }
}