.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.pBottom{
    font-size: 22px;
    font-weight: 700;
    color: #927398;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}