.p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-between; */
    gap: 30px;

    margin-top: 25px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContenier {
    background-color: rgba(59, 35, 65, 1);
    width: 270px;
    height: 182px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .imgContenier:hover{
    background-color: rgba(81, 46, 90, 0.515);
} */

.titleConteiner {
    background-color: rgba(80, 54, 85, 1);
    width: 100%;
    height: 131px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
/* 
.titleConteiner:hover{
    background-color: rgb(100, 69, 106);
} */

.titleConteiner span{
    color: rgba(242, 92, 58, 1);
}

@media(max-width: 900px){
    .imgContenier {
        width: 200px;
        height: 165px;
    }

    .imgContenier img{
        width: 90px;
        height: 90px;
    }

    .titleConteiner{
        height: 142px;
        font-size: 16px;
    }

    .container{
        gap: 20px;
    }
}
@media(max-width: 600px){

    .p{
        font-size: 18px;
    }

    .container {
        grid-template-columns: 1fr 1fr ;
        /* justify-content: space-between; */
        gap: 20px;
    
        margin-top: 40px;
    }

    .imgContenier {
        width: 270px;
        height: 165px;
    }

    .titleConteiner{
        height: 102px;
    }
}
@media(max-width: 320px){

    .p{
        font-size: 14px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 30px;
    }

    .imgContenier {
        max-width: 76px;
        width: 100%;
        height: 92px;
    }

    .img{
        width: 48px;
        max-height: 48px;
    }

    .titleConteiner{
        height: 92px;
    }

    .block{
        flex-direction: row;
    }

    .titleConteiner{
        font-size: 14px;
        text-align: start;
        padding: 10px;
    }

}
