.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

@media(max-width: 900px){
    .section{
        margin-top: 80px;
    }

    .h1{
        font-size: 34px;
    }

    .container{
        flex-wrap: wrap;
    }

    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
@media(max-width: 600px){

    .h1{
        font-size: 30px;
    }

    .slider{
        width: 100%;
        display: block;
    }

}
@media(max-width: 320px){

    .h1{
        font-size: 26px;
    }

}