.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 0px 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}