.section{
    margin-top: 120px;
}

.h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.textNetworks{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.btn{
    padding: 17px 20px;
    background-color: rgba(242, 92, 58, 1);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 99px;
}

@media(max-width: 900px){
    .section{
        margin-top: 80px;
    }

    .h1{
        font-size: 34px;
        margin-bottom: 30px;
    }

    .textNetworks{
        margin-bottom: 40px;
    }

    .btnContainer{
        margin-top: 60px;
    }
}
@media(max-width: 600px){

    .h1{
        font-size: 30px;
        margin-bottom: 60px;
    }

    .textNetworks{
        margin-bottom: 40px;
    }
}
@media(max-width: 320px){

    .h1{
        font-size: 26px;
        margin-bottom: 30px;
    }

    .textNetworks{
        font-size: 13px;
        margin-bottom: 30px;
    }

    .btnContainer{
        margin-top: 30px;
    }
}