.all {
    display: flex;
    position: relative;
}

.fourBlock {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex: 1;
}

.containerContent {
    display: flex;
    align-items: start;
}

.containerYears {
    display: flex;
    align-items: center;
}

.yearBlock {
    display: flex;
    align-items: center;
    position: relative;
    width: 65px;
}

.year {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.title{
    font-size: 16px;
    font-weight: 700;
}

.verticalLine {
    position: absolute;
    right: 477px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgba(146, 115, 152, 0.5);
    z-index: 1;
}

.yearDot {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #2F1634;
    border-radius: 50%;
    border: 2px solid #F25C3A;
    z-index: 3;
}

.content {
    /* max-width: 403px;
    max-width: 273px; */
    background-color: #503655;
    min-height: 40px;
    max-height: 78px;
    color: #fff;
    padding: 5px 15px;
}

.content strong {
    font-weight: 700;
}

.contentBlock {
    display: flex;
    align-items: start;
}

.img {
    display: block;
    padding-top: 8px;
}

@media(max-width: 900px){
    
    .verticalLine{
        right: 360px;
    }

}
@media(max-width: 600px){
    
    .verticalLine{
        right: 475px;
    }

}
@media(max-width: 320px){
    
    .title{
        font-size: 14px;
    }

    .year{
        width: 53px;
    }

    .content{
        font-size: 14px;
        min-height: 50px;
        max-height: 115px;
        width: 207px;
    }

    .fourBlock{
        gap: 15px;
    }

    .yearDot {
        right: -23px;
        width: 9.5px;
        height: 9px;
    }

    .verticalLine{
        right: 218px;
    }

}