.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    width: 370px;
    height: 234px;
    border: 2px solid #503655;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease; 
}

.block:hover{
    background-color: rgba(80, 54, 85, 1);
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blockWrapper {
    position: relative;
}

.rectangleBottom {
    position: absolute;
    left: 0;
    width: 370px;
    height: 150px;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;
    /* pointer-events: none;  */

    display: flex;
    flex-direction: column;
    align-items: center ;
}

.blockWrapper:hover .rectangleBottom {
    opacity: 1;
    transform: translateY(-13);
}


.whiteBlock {
    background-color: white;
    width: 370px;
    /* max-height: 161px; */

    display: flex;
    justify-content: center;
    gap: 35px;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 12px solid white;

    position: absolute;
    margin-top: -10px;
}


.moreBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 11px;

    max-width: 108px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.moreBlock p{
    font-size: 14px;
    font-weight: 400;
    color: #927398;
}

@media(max-width: 900px){

    .block {
        width: 273px;
        height: 172px;
        gap: 23px;
    }

    .blockImg{
        width: 73px;
        height: 73px;
    }

    .title{
        font-size: 26px;
    }


    .rectangleBottom {
        width: 273px;
        height: 130px;
    }

    .whiteBlock {
        width: 100%;
        height: 100%;

        gap: 10px;
    }

    .imgMini{
        width: 50px;
        height: 50px;
    }

    .moreBlock p{
        font-size: 12px;
        width: 90%;
    }


}
@media(max-width: 600px){

    .block {
        width: 173px;
        height: 109px;
        gap: 15px;
    }

    .blockImg{
        width: 46px;
        height: 46px;
    }

    .title{
        font-size: 16px;
    }


    .rectangleBottom {
        width: 173px;
        height: 100px;
    }

    .whiteBlock {
        width: 100%;
        height: 100%;

        gap: 10px;
    }

    .imgMini{
        width: 30px;
        height: 30px;
    }

    .moreBlock p{
        font-size: 9px;
        width: 90%;
    }


}
@media(max-width: 320px){

    .container{
        gap: 14px;
    }

    .block {
        width: 138px;
        height: 87px;
        gap: 12px;
    }

    .blockImg{
        width: 37px;
        height: 37px;
    }

    .title{
        font-size: 14px;
    }


    .rectangleBottom {
        top: 100px;
        width: 138px;
        height: 90px;
    }

    .whiteBlock {
        width: 100%;
        height: 100%;

        gap: 5px;
    }

    .imgMini{
        width: 30px;
        height: 30px;
    }

    .moreBlock p{
        font-size: 9px;
        width: 90%;
    }


}