.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    width: 370px;
    height: 234px;
    border: 2px solid #503655;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease; /* Для плавности */
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blockWrapper {
    position: relative;
}

.rectangleBottom {
    position: absolute;
    left: 0;
    width: 370px;
    height: 150px;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;
    /* pointer-events: none;  */

    display: flex;
    flex-direction: column;
    align-items: center ;
}

.blockWrapper:hover .rectangleBottom {
    opacity: 1;
    transform: translateY(-13);
}


.whiteBlock {
    background-color: white;
    width: 370px;
    /* max-height: 161px; */

    display: flex;
    justify-content: center;
    gap: 35px;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 12px solid white;

    position: absolute;
    margin-top: -10px;
}


.moreBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 11px;

    max-width: 108px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.moreBlock p{
    font-size: 14px;
    font-weight: 400;
    color: #927398;
}