.header {
    padding: 20px 30px;
    border-bottom: 2px solid rgba(146, 115, 152, 0.2);
    display: flex;
    justify-content: space-between;
}



.btn {
    font-family: 'Geoform', sans-serif;
    color: white;
    border: 2px solid white;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.logoAndNav {
    display: flex;
    align-items: center;
    gap: 59px;
}

.contacts {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
    padding-right: 39px;
    gap: 20px;
}

.phoneText {
    font-size: 18px;
    color: white;
    font-weight: 500px;
}

.mail,
.navMenu,
.logoMini,
.formContainer,
.showMenu {
    display: none;
}


@media(max-width: 900px) {
    .header {
        padding: 15px 20px;
    }

    .logo {
        width: 165px;
        height: 40px;
    }

    .logoAndNav {
        gap: 30px;
    }

    .network {
        display: none;
    }

    .btn {
        display: none;
    }

    .mail {
        display: block;
        padding: 8px 16px;
        border: 2px solid rgba(255, 255, 255, 1);
    }

    .phone {
        padding-right: 20px;
    }



}


@media(max-width: 600px) {
    .logo, .phoneImg, .phoneText {
        display: none;
    }

    .logoMini {
        display: block;
    }

    .logoAndNav {
        gap: 60px;
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(43, 18, 48, 0.7);
        /* backdrop-filter: blur(2px); */
        z-index: 1000;
    }


    .formContainer {
        display: flex;
        align-items: start;
        justify-content: center;
        position: absolute;
        gap: 10px;
        width: 600px;
        z-index: 1001;
    }

    .form {
        top: 20%;
        background-color: rgba(59, 35, 65, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        padding: 30px;
    }

    .titleForm {
        font-size: 26px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }

    .inputContainer {
        margin-top: 23px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



    .fieldWrapper {
        position: relative;
        width: 340px;
    }

    .fieldWrapper input,
    .fieldWrapper textarea {
        width: 100%;
        background-color: rgba(80, 54, 85, 1);
        border: 1px solid rgba(106, 78, 112, 1);
        color: white;
        font-size: 16px;
        padding: 14px;
        padding-top: 20px;
    }

    .fieldWrapper input {
        height: 50px;
    }

    .fieldWrapper textarea {
        height: 117px;
    }

    .fieldWrapper label {
        position: absolute;
        top: 14px;
        left: 14px;
        color: rgba(146, 115, 152, 1);
        font-size: 16px;
        font-weight: 400;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .fieldWrapper input:focus,
    .fieldWrapper textarea:focus {
        border-color: rgba(146, 115, 152, 1);
    }

    .fieldWrapper input:focus+label,
    .fieldWrapper textarea:focus+label {
        top: 9px;
        font-size: 12px;
        color: rgba(146, 115, 152, 1);
    }

    .fieldWrapper input:not(:placeholder-shown)+label,
    .fieldWrapper textarea:not(:placeholder-shown)+label {
        opacity: 0;
        visibility: hidden;
    }

    .fieldWrapper input::placeholder,
    .fieldWrapper textarea::placeholder {
        color: transparent;
    }

    .btnForm {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: rgba(242, 92, 58, 1);
        width: 100%;
        padding: 17px 0px;
    }

    .approvalText {
        font-size: 14px;
        font-weight: 400;
        color: rgba(146, 115, 152, 1);
        line-height: 130%;
        margin-top: 20px;
    }


}

@media(max-width: 320px){

    .header {
        padding: 15px 17px;
    }


    .showMenu{
        display: block;
        width: 24px;
    }

    .logoMini{
        display: none;
    }

    .logo{
        display: block;
        width: 144px;
        height: 35px;
    }

    .nav,  .mail, .btnStatusMenu{
        display: none;
    }

    .logoAndNav {
        gap: 47px;
    }

    .phoneImg{
        display: block;
    }

    .modalOverlay {
        top: 65px;
    }

    .menu{
        position: absolute;
        top: 65px;
        left: 0;
        z-index: 1001;

        width: 60%;
        background-color: rgba(59, 35, 65, 1);
        height: 512px;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .navMenu{
        display: block;
        
    }

    .contactsMenu{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 15px;
    }

    .phoneMenu{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .phoneTextMenu{
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .btnMenu {
        color: white;
        border: 2px solid white;
        padding: 7px 0px;
        text-align: center;
        max-width: 90%;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }

    .activeHeaderMenu{
        background-color: rgba(47, 22, 52, 1);
    }


    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        max-width: 288px;
        margin: 0 auto;
        top: 80px;
    }

    .form {
        width: 288px;
        padding: 15px 20px;
    }

    .titleForm {
        font-size: 18px;
    }

    .inputContainer {
        margin-top: 13px;
        margin-bottom: 20px;
        gap: 15px;
    }

    .fieldWrapper {
        width: 249px;
    }

    .fieldWrapper input,
    .fieldWrapper textarea {
        width: 100%;
        font-size: 14px;
        padding: 14px;
        padding-top: 12px;
    }

    .fieldWrapper input {
        height: 40px;
    }

    .fieldWrapper label {
        font-size: 14px;
        top: 8px;
    }

    .fieldWrapper input:focus+label,
    .fieldWrapper textarea:focus+label {
        top: 4px;
        font-size: 10px;
    }

    .approvalText {
        font-size: 11px;
        margin-top: 15px;
    }

}