.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContenier {
    background-color: rgba(59, 35, 65, 1);
    width: 100%;
    height: 176px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .imgContenier:hover{
    background-color: rgba(81, 46, 90, 0.515);
} */

.titleConteiner {
    background-color: rgba(80, 54, 85, 1);
     width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* .titleConteiner:hover{
    background-color: rgb(100, 69, 106);
} */

.titleConteiner p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}

@media(max-widhth: 900px){

    .container {
        gap: 22px;
    }

}