.btn{
    color: white;
    font-size: 16px;
    font-weight: 500;

    background-color: #F25C3A;
    padding: 10px 40px;

    /* margin-top: 19px; */
    text-transform: uppercase;
}

@media(max-width: 320px){
    .btn{
        padding: 0px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}